*{box-sizing: border-box;}
:root{
  --col:800px;
  --p:10px;
  --c:Coral;
}
body{
  background: var(--c);
  color:#222;
  font-size:clamp(1rem, 1vw, 1.5rem);
  line-height: 1.3em;
  font-family:"Selectric", times, serif;
}
p{margin:0;}
header h1{
  color: white;
  /* font-size: 1em; */
  margin: 0 0 calc(var(--p)*2) 0;
}


.button{
  border-radius:calc(var(--p)/2);
  background: black;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  margin: var(--p) 0;
  color:var(--c);
  padding:calc(var(--p)/2);
}
aside{
  position: fixed;
  padding: calc(var(--p) * 2) var(--p);
  /* background: white; */
  color: white;
  height: 100vh;
  width: 20%;
  left: 0;
  top: 0; 
}
aside a{
  width: 100%;
  display: block;
  margin-bottom: calc(var(--p)*3);
  font-size: 1.5em;
}
main{
  margin:0 auto;
  padding: var(--p);
  margin-left: 20%;
}

.box{

  border-radius: calc(var(--p) / 2);
  margin:0 0 calc(var(--p)*4) 0;
  padding: var(--p);
  background: white;
}
.box .author{
  margin: 0 0 1em 0;
}
.box h2{
  margin: 0;
}
.annot{
  position: relative;
  border-top:1px solid var(--c);
  padding:calc(var(--p)) 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cite{
  margin-bottom: var(--p);
  width: calc(100% - 6em);
  padding-left: var(--p);
}
.comment{
  width: 100%;
  font-style: italic;
  background: BlanchedAlmond;
  padding: .1em .3em;
}

.annot header{
  width: 6em;
  margin:-.9em 0 0 0;
  background: var(--c);
  padding:calc(var(--p) / 2);
  color: white;
  font:.7em/1em monospace;
  line-height: 1.4em;
}
main h1{
  font-size: 2em;
  padding-bottom: 0;
  margin-top:calc(var(--p) * 4);
}
h2{
  padding: calc(var(--p) / 2 ) 0;
}
main h2{
  margin-top: calc(var(--p) * 2);
}
h1, h2, h3{
  line-height:1.1em;
  margin-bottom: var(--p);
}

h2:first-child,  main h1 + h2{
  margin-top:0;
}
em,i{
  font-style: italic;
}

a{
  color:inherit;
  transition:all .1s linear;
}
a:hover, summary:hover{
  text-decoration: none;
}

::selection {background:var(--c);}
::-moz-selection {background:var(--c);}


@media only screen and (max-width: 700px) {
  header section, main{
    width:100%!important;
  }
  .introduction h3{
    margin-top:150px;
  }
  main{
    margin:0;
  }
  .argument img{
    text-align: center;
    display: block;
    margin: 0 auto;
    position: static;
    width:80%;
  }

}
